<div style="text-align: center;">
    <img src="/assets/logoUlogin.jpeg">
    <h2>@{{us}}</h2>
</div>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <!--Parte de Amigos-->
        <div class="col-md-4 col-xl-3 bd-sidebar">
            <p class="h2">Mis Amigos</p>
            <div class="accordion" id="accordionExample">
                <div *ngFor="let amigo of amigos; index as i;" class="card">
                    <div class="card-header" id="heading{{i}}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                attr.data-target="#collapse{{i}}" aria-expanded="true"
                                attr.aria-controls="collapse{{i}}">
                                @{{amigo.nickname}}
                            </button>
                            <span style="font-size:40%; color: blue" (click)="eliminar(amigo.id_usuario)">Eliminar</span> 
                        </h2>
                       
                    </div>

                    <div id="collapse{{i}}" class="collapse" attr.aria-labelledby="heading{{i}}"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <img *ngIf="amigo.urlimagen != ''" [src]="amigo.urlimagen" alt="{{amigo.nickname}}"
                                class="img-thumbnail">
                            <span *ngIf="amigo.urlimagen == ''">sin foto</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button trigger modal -->
            <button *ngIf="boot" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Covid-19
            </button>

        </div>

        <!--Parte de Publicaciones-->
        <main class="col-md-8 col-xl-9 py-md-3 pl-md-5 bd-content" role="main">
            <div class="card col-md-8" style="width: 36rem;">
                <img *ngIf="this.suImagen == 1" [src]="cardImageBase64" class="card-img-top" alt="...">
                <div class="card-body">
                    <label for="validationTextarea">
                        <h2>Crear Publicacion</h2>
                    </label>
                    <textarea class="form-control" id="validationTextarea" placeholder="@{{us}} Qué estás pensando?"
                        [(ngModel)]="publicacion.texto" required></textarea>
                    <hr>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-primary"
                            (click)="guardarPublicacion()">Publicar</button>
                        <div *ngIf="this.suImagen != 1" class="custom-file">
                            <input type="file" class="custom-file-input" id="validatedCustomFile"
                                (change)="cargandoImagen($event)" required>
                            <label class="custom-file-label" for="validatedCustomFile"><i
                                    class="fas fa-images"></i></label>
                            <div class="invalid-feedback">Selecciona Imagen</div>
                        </div>
                        <button *ngIf="this.suImagen == 1" type="button" class="btn btn-outline-primary"
                            (click)="borrarImagen()"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<label for="validationTextarea">
    <h2>Timeline</h2>
</label>

<!-- Publicacion -->
<div class="card mb-3" *ngFor="let publicacion of publicaciones">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-4">
                <h5>@{{publicacion.nickname}}</h5>
            </div>
            <div class="col-4">
                <h6>{{publicacion.fecha | date: 'yyyy-MM-dd HH:MM'}}</h6>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div>
            <p class="card-text">
                {{publicacion.texto}}
            </p>
            <p *ngIf="idTraducido == publicacion.id_publicacion">----------------------</p>
            <p style="font-size:100%; color: blue" *ngIf="idTraducido == publicacion.id_publicacion">{{textoTraducido}}
            </p>
            <span style="font-size:90%; color: blue" *ngIf="publicacion.texto" (click)="traducir(publicacion.id_publicacion)">Traducir</span>  
        </div>

        <img style="width: 55%; height: 55%;" *ngIf="publicacion.urlimagen != ''" center [src]="publicacion.urlimagen"
            class="card-img-top">
    </div>
</div>

<!-- Instruccion -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Covid-19 Bot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Instruccion</span>
                    </div>
                    <input type="text" class="form-control" #instruccion aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-lg" (change)="validar(instruccion)">
                </div>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
                    data-target="#paisModal">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Pais -->
<div class="modal fade" id="paisModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Covid-19 Bot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Pais</span>
                    </div>
                    <input type="text" class="form-control" #nombrePais (change)="pais(nombrePais)"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
                    data-target="#rangoFecha">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Fecha -->
<div class="modal fade" id="rangoFecha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Covid-19 Bot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Rango de Fechas </span>
                    </div>
                    <input type="date" class="form-control" #rango1 (change)="rangoFecha1(rango1)"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    <input *ngIf="casos == 0" type="date" class="form-control" #rango2 (change)="rangoFecha2(rango2)"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button *ngIf="casos == 1" type="button" class="btn btn-primary" data-dismiss="modal"
                    data-toggle="modal" data-target="#tipoCasos">
                    Next
                </button>
                <button *ngIf="casos == 0" type="button" class="btn btn-primary" data-dismiss="modal"
                    data-toggle="modal" data-target="#mostrarInfo">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Tipo de Casos -->
<div class="modal fade" id="tipoCasos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Covid-19 Bot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Tipo de Casos </span>
                    </div>
                    <input type="text" placeholder="confirmados, recuperados, muertes o todos?" class="form-control"
                        #tCaso (change)="tipoCaso(tCaso)" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">

                </div>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
                    data-target="#mostrarInfo">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Mostrar Info -->
<div *ngIf="casos == 1" class="modal fade" id="mostrarInfo" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Covid-19 Bot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Datos sobre Covid en {{nombrePais.value}}</h4>
                <p>Fecha: {{fecha1}}</p>
                <p>
                    Confirmados: {{this.confirmados}}
                </p>
                <p>
                    Recuperados: {{this.recuperados}}
                </p>
                <p>
                    Muertes: {{this.muertes}}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

<!-- Mostrar Grafica -->
<div *ngIf="casos == 0" class="modal fade" id="mostrarInfo" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Covid-19 Bot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="flex">
                    <div class="flex-item">
                        <div style="display: block;">
                            <canvas baseChart width="400" height="400" [datasets]="lineChartData"
                                [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                                [legend]="lineChartLegend" [chartType]="lineChartType"
                                (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>